.header {
  display: flex;
  justify-content: space-between;
  background-color: #010409;
  border-bottom: 1px solid #30363D;
  padding: 10px 50px;
}
.header__logo {
  width: 100px;
}
.header__logoImage {
  width: 100%;
  border-radius: 20px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.header__navLink {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.header__navLink:hover {
  background: #31363d;
}

.--rightBar {
  border-right: 0 !important;
  border-left: 1px solid #30363D;
}

.sideBar {
  background-color: #0D1117;
  color: white;
  height: 100vh;
  padding: 50px 30px;
  border-right: 1px solid #30363D;
}
.sideBar__header {
  display: flex;
  justify-content: start;
}
.sideBar__header h3 {
  font-size: 16px;
}
.sideBar__weak {
  color: #fd3535;
}
.sideBar__strong {
  color: #39fd39;
}
.sideBar__body {
  margin-top: 30px;
}
.sideBar__item {
  position: relative;
  margin-top: 10px;
  font-size: 14px;
}
.sideBar__item:hover .sideBar__tooltip {
  visibility: visible;
}
.sideBar__itemDescription {
  margin-top: 10px;
  max-width: 600px;
  color: #80848a;
}
.sideBar__text {
  color: white;
  cursor: pointer;
  display: block;
}
.sideBar__text:hover {
  color: #636A74;
}
.sideBar__tooltip {
  visibility: hidden;
  background-color: #141e2e;
  padding: 10px;
  position: absolute;
  left: 250px;
  top: -10px;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
}
.sideBar__tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #141e2e transparent transparent;
}
.sideBar__footer {
  margin-top: 30px;
}
.sideBar__footerInfo {
  display: flex;
  align-items: center;
}
.sideBar__footerInfo h3 {
  font-size: 16px;
}
.sideBar__footerInfo i {
  margin-left: 10px;
  font-size: 20px;
  color: #167880;
}
.sideBar__description {
  margin-top: 10px;
  max-width: 300px;
  padding: 20px;
  border: 1px dashed #636A74;
  border-radius: 10px;
  color: #636A74;
  font-size: 13px;
}

.features {
  border-left: 1px solid #30363D;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  padding: 40px 100px 40px 60px;
}
.features__header h3 {
  font-size: 16px;
}
.features__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.features__stat {
  font-size: 12px;
  color: orange;
}
.features .--critical {
  color: red;
}
.features__text {
  font-size: 14px;
}

.content {
  max-width: 55%;
  padding: 20px;
  overflow-y: scroll;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
}
.content__header h3 {
  font-size: 30px;
}
.content__transkript p {
  color: #80848a;
  font-weight: 600;
}
.content__infoBox {
  margin-top: 40px;
  background-color: #2d2f33;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #919191;
}
.content__infoHeader h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #39fd39;
}
.content__infoHeader .--weakness {
  color: #fd3535;
}
.content__infoBody {
  margin-top: 20px;
}
.content__infoItem {
  margin-top: 10px;
}
.content__infoNoneText {
  font-size: 50px;
}
.content__demo {
  margin-top: 100px;
}
.content__demoHeader {
  border-bottom: 1px solid #919191;
  padding: 20px 0;
}
.content__demoHeader h3 {
  font-size: 30px;
}
.content__demoBody {
  width: 80%;
  background-color: #0D1117;
  padding: 50px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}

pre {
  width: 80%;
  background-color: #0D1117;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #F0F0F0;
}

pre code span.keyword {
  color: #0057a8;
  font-weight: bold;
}

pre code span.variable {
  color: #0084ff;
  font-weight: bold;
}

pre code span.value {
  color: #66b5ff;
}

pre code span.comment {
  color: #1dac3c;
}

pre code span {
  color: #F0F0F0;
}

pre code span.function {
  color: #ffff9e;
}

pre code span.param {
  color: #ffff00;
}

pre code span.condition {
  color: #fd68d8;
}

pre code span.strategy {
  color: #07995c;
  font-weight: bold;
}

pre code span.string {
  color: #dd9860;
}

.demo__inputGroup {
  display: flex;
  justify-content: space-between;
}
.demo__label {
  color: #949494;
  font-size: 19px;
}
.demo__input {
  background: #31363d;
  border-radius: 15px;
  width: 300px;
  outline: none;
  height: 40px;
  color: white;
  padding: 5px 20px;
  font-size: 20px;
  border: 2px solid #31363d;
}
.demo__input:focus {
  border: 2px solid #919191;
}
.demo__button {
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.demo .--credit {
  background: #134413;
}
.demo .--credit:hover {
  background: #278a27;
}
.demo .--bankTransfer {
  background: #174f6e;
  margin-left: 20px;
}
.demo .--bankTransfer:hover {
  background: #26749e;
}
.demo .--pay {
  background: #751313;
}
.demo .--pay:hover {
  background: #a52525;
}
.demo__dropDown {
  margin-top: 40px;
}
.demo__dropDown div {
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #010409;
  font-family: "Nunito", sans-serif;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2D2F33;
}

::-webkit-scrollbar-thumb {
  background: #919191;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */