pre {
    width: 80%;
    background-color: #0D1117;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: #F0F0F0;
}

pre code span.keyword {
    color: #0057a8;
    font-weight: bold;
}

pre code span.variable {
    color: #0084ff;
    font-weight: bold;
}

pre code span.value {
    color: #66b5ff;
}

pre code span.comment {
    color: #1dac3c;
}

pre code span {
    color: #F0F0F0;
}

pre code span.function {
    color: #ffff9e;
}

pre code span.param {
    color: #ffff00;
}

pre code span.condition {
    color: #fd68d8;
}

pre code span.strategy {
    color: #07995c;
    font-weight: bold;
}

pre code span.string {
    color: #dd9860;
}
