.demo {


    &__inputGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__label {
        color: #949494;
        font-size: 19px;
    }

    &__input {
        background: #31363d;
        border-radius: 15px;
        width: 300px;
        outline: none;
        height: 40px;
        color: white;
        padding: 5px 20px;
        font-size: 20px;
        border: 2px solid #31363d;

        &:focus {
            border: 2px solid #919191;
        }
    }

    &__button {
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        color: white;
        cursor: pointer;
    }

    .--credit {
        background: #134413;

        &:hover {
            background: #278a27;
        }
    }

    .--bankTransfer {
        background: #174f6e;
        margin-left: 20px;

        &:hover {
            background: #26749e;
        }
    }

    .--pay {
        background: #751313;

        &:hover {
            background: #a52525;
        }
    }

    &__dropDown {
        margin-top: 40px;

        div {
            margin-top: 20px;
        }
    }
}

.--tax {
    margin: 20px 50px
}
.--taxForm {
    margin-top: 50px;
}